/* 헤더 스타일 */
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    /*overflow-x: hidden;*/
    /*height: 100%;*/
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: #ffffff;
    border-bottom: 1px solid #ddd;

}

.header a {
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.header .header-left, .header .header-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header a:hover {
    color: #0077cc;
}

/* 메인 컨텐츠 영역 */
.contents {
    flex: 1;
    max-width: 60%;
    margin: 0 auto;
    padding: 2rem 1rem;
    background-color: #fff;


}

/* 페이지별 구역 스타일(예: NotFound) */
.not-found {
    text-align: center;
    margin: 2rem 0;
    color: #666;
}

/* 푸터 스타일 */
.footer {
    padding: 1rem;
    background-color: #ffffff;
    border-top: 1px solid #ddd;
    text-align: center;
    font-size: 0.875rem;
    color: #999;
}

/* 메인 컨텐츠와 사이드바를 감싸는 컨테이너 */
.main-container {
    display: flex;
    flex-direction: row;
    flex: 1;

}

/* 사이드바 스타일 */
.side-bar {
    width: 20%;
    min-width: 200px;
    padding: 1rem;
    background-color: #ffffff;
    border-right: 1px solid #ddd;
    /*box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);*/
}

.side-bar h3 {
    /*font-weight: normal;*/
    color: #333;
}

.side-bar .sidebar-group div {
    margin-left: 30px;
}

/* 사이드바의 각 아이템 스타일 */
.sidebar-item {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.sidebar-item:hover {
    background-color: #ddd;
}

.menu-button {
    background-color: transparent; /* 기본 배경색 */
    border: none;              /* 기본 테두리 제거 */
    cursor: pointer;           /* 마우스 커서 변경 */
    transition: background-color 0.3s ease, transform 0.2s ease; /* 전환 효과 */
    margin-right: 10px;
    /*height: 10px;*/

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.menu-button:hover {
    transform: scale(1.05);    /* 살짝 확대 효과 */
}

.menu-button:active {
    transform: scale(0.98);    /* 클릭 시 약간 축소 효과 */
}

.menu-button:focus {
    outline: none;             /* 포커스 시 기본 외곽선 제거 */
}

/*@media (max-width: 1000px) {*/
/*    .contents {*/
/*        max-width: 100%;*/
/*        width: 100%;*/
/*    }*/

/*}*/

@media (max-width: 1200px) {
    .contents {
        max-width: 80%;
    }
}

/* 반응형 디자인 (화면이 작을 때) */
@media (max-width: 900px) {
    .contents {
        max-width: 100%;
        width: 100%;
    }

    .main-container {
        flex-direction: column;
    }

    .side-bar {
        width: 100%;
        border-right: none;
        border-bottom: 1px solid #ddd;
    }
}